<div class="row">
    <div align="center">
        <button class="btn btn-primary" ng-click="playAgain()">Again</button>
    </div>
    <div class="row" style="margin-top:70px;">
        <div class="col-xs-2 text-right">
            <img class="player-image" src="/images/user1.jpg">
            <p class="player-name">Player</p>
            <p>
                <img ng-src="/images/cards/{{cards[0]}}.png" height="60">
                <img src="/images/cards/{{cards[1]}}.png" height="60">
                <img src="/images/cards/{{cards[2]}}.png" height="60">
            </p>
        </div>
        <div class=col-xs-8 ">
            <div class="table ">
                <img class="img-responsive " src="/images/table_back.png " style="border-radius:10px; ">
            </div>
        </div>
        <div class="col-xs-2 ">
    	<img class="player-image " src="/images/user1.jpg ">
    	<p class="player-name ">Player</p>
    	<p>
               <img ng-src="/images/cards/{{cards[3]}}.png " height="60 ">
                <img src="/images/cards/{{cards[4]}}.png " height="60 ">
                <img src="/images/cards/{{cards[5]}}.png " height="60 ">
            </p>
  
    	</div>
    </div>
    <div class="row ">
     
        <div class="col-xs-offset-2 col-xs-8 ">
            	<div class="col-xs-4 ">
            	<img class="player-image " src="/images/user1.jpg ">
            	<p class="player-name ">Player</p>
            	<p>
               <img ng-src="/images/cards/{{cards[6]}}.png " height="60 ">
                <img src="/images/cards/{{cards[7]}}.png " height="60 ">
                <img src="/images/cards/{{cards[8]}}.png " height="60 ">
            </p>
  
            	</div>
            	<div class="col-xs-4 text-center ">
            	<img class="player-image " src="/images/user1.jpg ">
            	<p class="player-name ">Player</p>
            	<p>
                <img ng-src="/images/cards/{{cards[9]}}.png " height="60 ">
                <img src="/images/cards/{{cards[10]}}.png " height="60 ">
                <img src="/images/cards/{{cards[11]}}.png " height="60 ">
            </p>
  
            	</div>
            	<div class="col-xs-4 text-right ">
            	<img class="player-image " src="/images/user1.jpg ">
            	<p class="player-name ">Player</p>
            	<p>
                 <img ng-src="/images/cards/{{cards[12]}}.png " height="60 ">
                <img src="/images/cards/{{cards[13]}}.png " height="60 ">
                <img src="/images/cards/{{cards[14]}}.png " height="60 ">
            </p>
  
            	</div>

        </div>
        
    </div>
</div>
