<div class="row">
    <div class="row" style="margin-top:100px;">
        <div class="col-xs-2 text-right">
            <img class="player-image" src="/images/user1.jpg">
            <p class="player-name">Player</p>
            <p>
                <img src="/images/cards/C5.png" height="60">
                <img src="/images/cards/D7.png" height="60">
                <img src="/images/cards/h3.png" height="60">
            </p>
        </div>
        <div class=col-xs-8 ">
            <div class="table ">
                <img class="img-responsive " src="/images/table_back.png " style="border-radius:10px; ">
            </div>
        </div>
        <div class="col-xs-2 ">
    	<img class="player-image " src="/images/user1.jpg ">
    	<p class="player-name ">Player</p>
    	<p>
                <img src="/images/cards/S8.png " height="60 ">
                 <img src="/images/cards/H7.png " height="60 ">
                  <img src="/images/cards/C9.png " height="60 ">
            </p>
  
    	</div>
    </div>
    <div class="row ">
     
        <div class="col-xs-offset-2 col-xs-8 ">
            	<div class="col-xs-4 ">
            	<img class="player-image " src="/images/user1.jpg ">
            	<p class="player-name ">Player</p>
            	<p>
                <img src="/images/cards/S8.png " height="60 ">
                 <img src="/images/cards/H7.png " height="60 ">
                  <img src="/images/cards/C9.png " height="60 ">
            </p>
  
            	</div>
            	<div class="col-xs-4 text-center ">
            	<img class="player-image " src="/images/user1.jpg ">
            	<p class="player-name ">Player</p>
            	<p>
                <img src="/images/cards/S8.png " height="60 ">
                 <img src="/images/cards/H7.png " height="60 ">
                  <img src="/images/cards/C9.png " height="60 ">
            </p>
  
            	</div>
            	<div class="col-xs-4 text-right ">
            	<img class="player-image " src="/images/user1.jpg ">
            	<p class="player-name ">Player</p>
            	<p>
                <img src="/images/cards/S8.png " height="60 ">
                 <img src="/images/cards/H7.png " height="60 ">
                  <img src="/images/cards/C9.png " height="60 ">
            </p>
  
            	</div>

        </div>
        
    </div>
</div>
